.facebookColor
    color #3b5998
    margin-right 10px
    
.twitterColor
    color #00acee
    margin-right 10px

.instagramColor
    color  #3f729b
    margin-right 10px

.tiktokColor
    color #000
    margin-right 10px

.redditColor
    color #FF5700
    margin-right 10px