.body
    background-color var(--crater-bg-color-theme)
    box-shadow 0 0 1px 0 #ddd
    border-radius 5px
    display flex
    text-decoration none
    flex-direction column
    cursor pointer
    height 300px
    width 250px

.bodySize1
    width 250px

.bodySize2
    width 520px

.bodySize3
    width 340px

.container
    display flex 
    flex-direction column
    height 100%
    margin 10px 15px 15px 15px
    justify-content space-between

.label
    color #333
    display block
    font-size 1.25rem