.body
    display flex
    justify-content space-between
    margin-top 15px

.amountBody
    width 95px

.amountBody div div input
    text-align center

.button
    color var(--primary-color-theme)
    cursor pointer

.button:hover
    color var(--primary-lightcolor-theme)

.buttonCart
    color #fff !important
    background-color var(--primary-color-theme) !important

.buttonCart:hover
    color #fff
    background-color var(--primary-lightcolor-theme) !important