.body
    padding 0 30px
    width 100%

.container
    padding: 20px 0

.craterContainer
    display flex
    margin 10px 0 10px 0
    justify-content space-around

.craterContainer2
    display flex
    margin 10px 0 10px 0
    justify-content space-around