.body
    display flex
    flex-direction column
    width 100%

.bodyTitle
    margin 20px 0 10px 60px

.bodyTitle h3
    font-size 3.4rem

.bodyContent
    display flex
    align-items center
    justify-content center
    width inherit

.bodyOption
    display flex
    justify-content center
    align-items center
    width 200px
    height 260px
    transition 0.15s

.bodyOption:hover
    background-color var(--secondary-lightcolor-theme)
    transition 0.15s

.imageOption
    width 160px
    height 160px