.body
    border-bottom 1px solid rgba(0,0,0,0.03)
    display flex
    align-items center
    padding 8px 0

.body:last-child
    border-bottom 0

.productImage
    background-color #fff
    border 1px solid rgba(0,0,0,0.1)
    border-radius 5px
    width 100px
    height 100px

.productDetail
    color #333
    display flex
    justify-content space-between
    align-items center
    padding-left 15px
    width calc(100% - 100px)

.productOption
    display flex
    justify-content space-between
    align-items center
    width 40%

.deleteOption
    margin-right 10px
.deleteOption:hover
    color var(--primary-darkcolor-theme)
    cursor pointer

.amountBody
    width 95px

.amountBody div div input
    text-align center

.button
    color var(--primary-color-theme)
    cursor pointer

.button:hover
    color var(--primary-lightcolor-theme)