.body
    display block

.filterItemList
    list-style none
    padding-left 10px

.filterItemList li p
    cursor pointer
    font-size 0.85rem

.filterItemList li p:hover
    color var(--primary-color-theme)

.activeItemList
    color var(--secondary-color-theme)