.body
    display flex
    padding-top 15px
    width 100%

.bodyCartTotal
    border 1px solid rgba(255,82,82, 0.5)
    border-radius 5px
    display flex
    flex-direction column
    justify-content center
    height 320px
    min-width 320px

.cartTotal
    display flex
    flex-direction column
    align-items center

.titleTotal
    color #333
    font-size 1.50rem
    margin-bottom 25px

.amountDiv
    display flex
    font-size 1.15rem
    justify-content flex-end
    margin-bottom 5px
    width 100%

.amountDiv p
    font-style italic

.amountDiv span
    text-align right
    margin 0 40px 0 0
    width 120px

.amountTotal
    background-color var(--primary-color-theme)
    color #fff
    display flex
    font-size 1.30rem
    justify-content flex-end
    margin-top 40px
    width 100%

.amountTotal p
    text-align right

.amountTotal span
    margin 0 40px 0 0
    text-align right
    width 120px
    

.payTotal
    display flex
    margin-top 20px
    margin-right 25px
    justify-content flex-end

.buttonPay
    color #fff !important
    background-color var(--primary-color-theme) !important

.buttonPay:hover
    color #fff
    background-color var(--primary-lightcolor-theme) !important