.body
    display flex
    min-width 170px
    justify-content flex-end

.profile
    cursor pointer
    display flex
    align-items center

.profileUsername
    color #333
    display flex
    align-items center

.profileUsername:hover
    color var(--secondary-color-theme)


.profileName
    margin 10px

.profileMenu
    margin-top 50px

.profileRoute
    color #333
    text-decoration none

.profileCart
    color #333
    display block

.profileCart span span
    background-color var(--secondary-darkcolor-theme)

.profileCart:hover
    color var(--secondary-color-theme)