.body
    margin-left 45px
    padding 10px 20px 10px 0
    width 100%

.bodyTitleProduct
    display flex
    align-items center 
    justify-content space-between

.titleProduct
    color #333
    font-size 1.75rem

.bodyPriceProduct
    margin-top 30px

.priceProduct
    color var(--primary-darkcolor-theme)
    font-size 1.85rem
    font-style bold

.bodyDescriptionProduct
    margin-top 12px
    height 180px

.descriptionProduct
    color #999
    font-size 1.25rem

.bodyCartProduct
    margin-top 10px
    border-top 1px solid #cecece